# Tutorial on Python

In [1]:
# print output on screen
print("hello world!")

hello world!

In [2]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [5]:
#practice "if"
if 5<7:
    print("Bingo!")

Bingo!

# Data type: Numbers

In [3]:
a = 17
print(a)

17

In [4]:
print(type(a))

<class 'int'>

In [1]:
#Math operator
x=5
y=2
print(x+y)
print(x*y)
print(x%y)  #Modulus
print(x**y) #Exponentiation
print(x//y)  #Floor division

7
10
1
25
2

In [5]:
a/2

8.5

In [6]:
type(3.14)

float

In [7]:
3.14 ** 20

8681463855.993662

In [8]:
#Assignment operators
s = 3
s+=2
print(s)

5

In [9]:
#Assignment operators
s = 3
s*=2
print(s)

6

## Data type: Boolean

In [10]:
True

True

In [11]:
False

False

In [19]:
type(True)

bool

In [13]:
print(type(True))

<class 'bool'>

In [14]:
True and False

False

In [15]:
True or False

True

In [16]:
not True

False

In [17]:
not not True

True

## Data type: String

In [18]:
a = "hello"
type(a)

str

In [20]:
b = 'world'
print(b)

world

In [21]:
print(len(a))

5

In [22]:
print(a + " " + b)

hello world

In [23]:
print(a + b)

helloworld

In [24]:
str = "%s %f %.10f" % (a, 3.14 ** 5, 3.14 ** 5) # STRING FORMATTING 
print(str)

hello 305.244776 305.2447761824

In [25]:
"%.3f" % 3.15 #three foat string

'3.150'

## Summary

In [26]:
#creating variables
x = 6     
y = "Polyu"  
print(x)
print(y)

6
Polyu

In [27]:
#change variable type and value
x = 2
x = "Polyu"
print(x)

Polyu

In [28]:
#specify the data type by casting
x = '3'
y = int(3)
z = float(3)

In [29]:
print(x)
print(y)
print(z)

3
3
3.0

In [30]:
type(x)

str

In [31]:
type(y)

int

In [32]:
type(z)

float

In [33]:
#get the data type 
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [34]:
# integer
x = 4             
print(x, type(x))

4 <class 'int'>

In [35]:
bin(x)#二进制

'0b100'

In [36]:
bin(5)

'0b101'

In [37]:
# boolean (True, False)
y = True           
print(y, type(y))

True <class 'bool'>

In [38]:
# floating point
z = 3.7            
print(z, type(z))

3.7 <class 'float'>

In [39]:
# string
s = "This is a string"    
print(s, type(s))

This is a string <class 'str'>

## Arithmetic operations

In [ ]:
x = 4            # integer
# addition 
x1 = x + 4       
print(x1)
#substraction
y1=x-2
print(y1)

In [ ]:
x += 2           # equivalent to x = x + 2
print(x)

In [ ]:
x2 = x
x2 *= 3           # equivalent to x2 = x2 * 3
print(x2)

In [ ]:
# product 
x2=x*3
print(x2)

In [ ]:
# modulo (remainder) operator
x3 = x % 4
print(x3)

In [ ]:
# floating point number
y = 2.7
# division
y1 = y/3
print(y1)

In [ ]:
# integer division (floor function)
y//2

In [ ]:
# square of z 
y2 = y ** 2 
print(y2)

In [ ]:
# square root
y3 = y2 ** 0.5   
print(y3)

In [ ]:
# equivalent to square of y
y2 = pow(y,2)
print(y2)
pow(y,3)

In [ ]:
# rounding y to its nearest integer 
y4 = round(y)
print(y4)

In [ ]:
#Single and double Quotes are the same
x = "John"
# is the same as
y = 'John'

In [ ]:
print(x)

In [ ]:
print(y)

In [ ]:
x==y

In [ ]:
#Case sensitive
a = 4
A = "Sally"

In [ ]:
#A will not overwrite a
print(a)
print(A)

In [ ]:
#Assign Multiple Values
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

In [ ]:
#unpack a collection
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

In [ ]:
#output can be combined
x = "Python is "
y = "awesome"
z =  x + y
print(z)

In [ ]:
#global and local variable
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

### Operations on String

In [ ]:
#Get the character at position 1(remember that the first character has the position 0)
a = "Hello, World!"
print(a[1])

In [ ]:
#Get the characters from position 2, and all the way to the end:
b = "Hello, World!"
print(b[2:])

In [ ]:
#loop through a string
for x in "banana":
    print(x)

In [ ]:
#String Length
a = "Hello, World!"
print(len(a))

In [ ]:
#Check if "free" is present in the following text:
txt = "The best things in life are free!"
print("free" in txt)

In [ ]:
#check not
txt = "The best things in life are free!"
print("expensive" not in txt)

In [ ]:
#Upper Case
a = "Hello, World!"
a.upper()

In [ ]:
#lower case
"Hello, World!".lower()

In [ ]:
#replace string
a = "Hello, World!"
a.replace("H", "J")

In [ ]:
#combine string and number
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))
#"My name is John, and I am %s" % (age)

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

## Containers

In [ ]:
#list= collection which is ordered and changeable
x = ["apple", "banana", "cherry"]
#x[1]= 2
print(x)
print(type(x))

In [ ]:
#tuple=collection which is ordered and unchangeable
x = ("apple", "banana", "cherry")
#x[1]= 2
print(x)
print(type(x))

In [ ]:
#range
x = range(6)
print(x)
print(type(x))

In [ ]:
#set=collection which is unordered and unindexed. No duplicate members
x = {"apple", "banana", "cherry"}
y = {"apple", "banana", "cherry", "apple"}
#x.remove('apple')
print(x)
print(y)
print(type(x))

In [ ]:
#dict=is a collection which is unordered and changeable. No duplicate members
x = {"name" : "John", "age" : 36}
print(x)
print(type(x))

In [ ]:
#frozenset
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))
#x.remove('apple')

### List

In [ ]:
#A list can contain different data types:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

In [ ]:
#Access Items
thislist = ["apple", "banana", "cherry"]
print(thislist[0])#Print the second item of the list
print(thislist[-1])#Print the last item of the list

In [ ]:
#Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

In [ ]:
#Add items x=[] x.append
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

In [ ]:
#Insert Items
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

In [ ]:
#Remove Specified Item
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

In [ ]:
#Remove Specified Index
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

In [ ]:
#Remove Specified last item
thislist = ["apple", "banana", "cherry"]
b = thislist.pop()
print(thislist)
print(b)

In [ ]:
#make loop through a list
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

In [ ]:
#Looping Using List Comprehension
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]
z= ["I like " + x for x in thislist]
newlist = [x for x in thislist if "a" in x]

In [ ]:
#looping to count the length
thislist = ["apple", "banana", "cherry"]
y=[]
for x in thislist:
    print("==========")
    print(x)
    print(len(x))
    print(y)
    y.append(len(x))

### Dictionary

In [ ]:
thisdict = {
  "brand": "Apple",
  "model": "Iphone13",
}
print(thisdict)

In [ ]:
#access the value
x = thisdict["model"] 
print(x)

In [ ]:
x = thisdict.get("model")
print(x)

In [ ]:
#  return a list of all the keys in the dictionary.
x = thisdict.keys()
print(x)

In [ ]:
# "year" of the iphone by using the update() method
thisdict.update({"year": 2021}) 
print(thisdict)

In [ ]:
#add an item
thisdict["color"] = "red" 
print(thisdict)

In [ ]:
#remove an item
thisdict.pop("model")
print(thisdict)

In [ ]:
#Loop Through a Dictionary
for x in thisdict:
    print(x)   # print the key
    print(thisdict[x]) # print the value

### Tuple

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

In [ ]:
thattuple =tuple(("apple", "banana", "cherry"))
print(thattuple)

In [ ]:
#Convert the tuple into a list to be able to change it:
x = ("apple", "banana", "cherry")
y = list(x)
print(y)
type(y)

In [ ]:
y[1] = "kiwi"
print(y)

In [ ]:
x = tuple(y)
print(x)

In [ ]:
#join two tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

In [ ]:
#elementwise computation
import numpy as np
my_list = np.array([1, 2, 3, 4, 5])
my_list * 5

### Set

In [ ]:
a1 = {"monkey", "python", "whale"}
a2 = {"monkey", "frong", "lizard"}
print("whale" in a1)
print("whale" in a2)

In [ ]:
#Access item 
for x in a1:
    print(x)

In [ ]:
#add new item
a1.add('bat')
print(a1)

In [ ]:
#length
len(a1)

In [ ]:
#remove item
a1.remove('monkey')
print(a1)
a1.discard('whale')
print(a1)

In [ ]:
#merge two set
a2.update(a1)
print(a2)

In [ ]:
a2.union(a1)
print(a2)

In [ ]:
a1.intersection(a2)

In [ ]:
a2.difference(a1)

## If command

In [ ]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

In [ ]:
# multiple statements
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

## While loop

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1

In [ ]:
# break the loop
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

In [ ]:
## For loop

In [ ]:
#loop
for x in range(6):
    print(x)
else:
    print("Finally finished!")

In [ ]:
#nested loop
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
    for y in fruits:
        print(x, y)

## Function

In [ ]:
#creat a function
def love(name, strong = False):
    if strong:
        print("I love " + name + "!!!")
    else:
        print("I like " + name + ".")

In [ ]:
love('dog')

In [ ]:
love('cat', strong=True)

## Example 1: Sum of Integers.
Compute $\sum_{k=1}^{100}k$

In [ ]:
#1 define a recursion function
A = 0
for k in range(1,101):
    A+=k
print(A)

In [ ]:
#2 sum the list

a= list(range(1,101))  #[1,2,...,100]
sum(a)

In [ ]:
#3   sum the range
sum(range(1,101))

In [ ]:
#4
100*(100+1)/2

## Example 2: Fibonacci sequence.
It is defined by recursion.
$x_1=1, x_2=1, x_{k}=x_{k-1}+x_{k-2}$, for any $k>2$.

In [ ]:
#Ficbonacci
def Fibonacci(a):
    if(a <= 2):
        return(1)
    else:
        return(Fibonacci(a - 1) + Fibonacci(a - 2))

In [ ]:
Fibonacci(2)

In [ ]:
Fibonacci(15)